html, body, iframe
{
	color: white;
	margin: 0;
}

.tile .tag
{
	padding: 5px;
}

.tile .tags
{
	border-left: 1px dashed white;
	overflow: hidden;
}

.fullscreen .messages
{
	overflow: auto;
	border-top: 1px solid white;
}

.fullscreen .message
{
	padding: 10px;
}

.fullscreen md-input-container
{
	margin: 0px !important;
}

.fullscreen .md-errors-spacer
{
	display: none;
}

#mapview-map {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
}

#poi-searchbar {
  position: absolute;
  left: 0.6em;
  right: 0.6em;
  top: 0.6em;
}

#poi-searchbar input {
  background: url(../img/icons/ic_search_black_24px.svg);
  background-repeat: no-repeat;
  background-position: 5px 9px;
  padding: 0px 35px;
}

#user-center-btn {
  position: absolute;
  bottom: 20px;
  right: 0;
}

#poi-detail-dialog {
  position: absolute;
  background-color: white;
  color: black;
  padding: 0 1em;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow-x: hidden;
  word-wrap: break-word;
}

#poi-detail-dialog h3 {
    margin-top: 0.15em;
    max-width: calc(100% - 50px);
}

#poi-detail-dialog h3, .detail-dialog-small p {
  margin-bottom: 0.5em;
}

#detail-dialog-size-btn {
  position: absolute;
  right: 40px;
  top : 0;
}

#detail-dialog-dismiss-btn {
  position: absolute;
  right: 0;
  top : 0;
}

.detail-dialog-small {
  overflow-y: hidden;
  height: 25%;
}

.detail-dialog-big {
  overflow-y: scroll;
  height: 75%;
}

.poi-photo-carousel-container {
  min-height: 200px;
  height: 50%;
  width: 100%;
  display:inline-block;
  text-align: center;
}

.poi-photo-carousel {
  width:100%;
  max-width: 512px;
  height:100%;
  margin-bottom: 0;
}

.poi-photo-carousel-bgimage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  vertical-align: bottom;
  color: white;
  height: 100%;
  background-position: center center;
}

.poi-photo-carousel-bgimage .attribution-text {
  background-color: white;
}

#tab-button-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width:100%;
}

.tab-button {
  position: relative;
  height: 100%;
  width: 32.5%;
  bottom: 0px;
  left: 0px;
  background-color: blue;
  padding:0px;
  margin: 0px;
}

.tab-button.active {
  background-color: yellow;
}

.hidden {
  display: none;
}

.width-full {
  width: 100%;
}

.scroll-vertical {
  position: absolute;
  overflow-y: scroll;
  height: calc(100% - 50px);
}

.news-item {
  padding: 20px 0;
  height: 120px;
  margin: 0 0 5px 0;
  display: table;
  width: 100%;
}

.news-item:hover,
.news-item:focus {
  transform: scale(1.1);
  transition: all .5s;
}

.news-text {
  padding: 5px 15px;
  background: url('../img/000000-0.3.png');
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.news-text a {
  color: #fefefe;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}