<!DOCTYPE html>
<html ng-app='cityInfo'>
<head>
  <title>City Information</title>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>

  <script type="text/javascript" src="js/llb.js"></script>
  <script type="text/javascript" src="js/app.js"></script>

  <!-- factories -->
  <script type="text/javascript" src="js/factories/gmapFactory.js"></script>
  <script type="text/javascript" src="js/factories/gplacesFactory.js"></script>

  <!-- controllers -->
  <script type="text/javascript" src="js/controllers/mapController.js"></script>

  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqNsDFc1Jz7XgdsoKWYnGyNBpZRL6PRh4&libraries=places" type="text/javascript"></script>

</head>
<body style='background-color: #0277bd; overflow: hidden;'>
  <div layout='column' ng-controller='MapController' ng-if='$root.initialized' >
    <div flex layout='row' class='md-padding' layout-fill ng-if='!$root.fullscreen'>
      <div flex layout='column' layout-align='center center'>
        <span class='md-display-1' style='text-align: center;'>City Information</span>
      </div>
    </div>

    <div flex layout='row' layout-fill ng-show='$root.fullscreen'>
      <div id='gmap' ng-style='fullscreen_app_dimensions'></div>
    </div>
  </div>
</body>
</html>
