<!DOCTYPE html>
<html ng-app='cityInfo'>
<head>
  <title>City Information</title>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>

  <script type="text/javascript" src="js/llb.js"></script>
  <script type="text/javascript" src="js/app/app.module.js"></script>
  <script type="text/javascript" src="js/app/fullscreen.app.controller.js"></script>

  <!-- shared -->
  <script type="text/javascript" src="js/shared/shared.module.js"></script>
  <script type="text/javascript" src="js/shared/loadGoogleLibraries.provider.js"></script>

  <!-- maps -->
  <script type="text/javascript" src="js/map/map.module.js"></script>
  <script type="text/javascript" src="js/map/map.controller.js"></script>
  <script type="text/javascript" src="js/map/map.factory.js"></script>
  <script type="text/javascript" src="js/map/map.directive.js"></script>

  <!-- points of interest -->
  <script type="text/javascript" src="js/poi/poi.module.js"></script>
  <script type="text/javascript" src="js/poi/poi.controller.js"></script>
  <script type="text/javascript" src="js/poi/poiApi.factory.js"></script>
  <script type="text/javascript" src="js/poi/poiAutocomplete.service.js"></script>

  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

</head>
<body style='background-color: #0277bd; overflow: hidden;'>
  <div ng-if='$root.initialized' >
    <div flex layout='row' class='md-padding' layout-fill ng-if='!$root.fullscreen'>
      <div flex layout='column' layout-align='center center'>
        <span class='md-display-1' style='text-align: center;'>City Information</span>
      </div>
    </div>

    <div ng-controller='FullscreenController' ng-show='$root.fullscreen'>
      <apt-map ng-style="fullscreen_app_dimensions">
        <md-button id='user-center-btn' class='md-fab md-primary md-hue-2' aria-label='Center' ng-click='map.centerToUser()'>
          <md-icon md-svg-src='img/icons/ic_my_location_black_24px.svg'></md-icon>
        </md-button>
      </apt-map>

      <div ng-controller='PoiController as poiCtrl'>
        <md-autocomplete
          id='poi-searchbar'
          class='searchbar'
          md-input-name='poi-search'
          md-selected-item='selectedItem'
          md-search-text='searchText'
          md-items='item in poiCtrl.getQueryPredictions(searchText)'
          md-delay='200'
          md-min-length='2'
          md-item-text='item.description'>
          <md-item-template>
            {{item.description}}
          </md-item-template>
        </md-autocomplete>

        <md-button id='favorites-btn' class='md-fab md-primary md-hue-2' aria-label='Favorites' ng-click='poiCtrl.showFavorites()'>
          <md-icon md-svg-src='img/icons/ic_place_black_24px.svg'></md-icon>
        </md-button>
      </div>
    </div>
  </div>
</body>
</html>
